.book-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.extend-box{
	-fx-alignment: center;
}

.copy-details{
	-fx-alignment: center;
}

.copyID-label,
.isbn-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.hbox{
	-fx-alignment: center;
}

.main-vbox{
	-fx-alignment: center;
}

.prompt-label{
	-fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.cancel-btn{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-background-color: #ff756b;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.continue-btn{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-background-color: #6bff77;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}