.date-picker .day-cell:disabled {
    -fx-background-color: #FFC0CB; /* Red background for disabled dates */
}

.date-vbox {
    -fx-alignment: center;
    -fx-font-size: 18px;
}

.list-cell{
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.date-title {
	-fx-font-size: 26px;
	-fx-font-weight: bold;
}

.option-area{
	-fx-alignment: center;
}

.button-box{
	-fx-alignment: center;
}

.cancel-btn{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-background-color: #ff756b;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.continue-btn{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-background-color: #6bff77;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}