.book-isbn {
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.cancel-btn{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-background-color: #ff756b;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.continue-btn{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-background-color: #6bff77;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.popup-label{
	-fx-background-color: #f0f0f0; 
	-fx-background-radius: 5px; 
	-fx-border-radius: 5px; 
	-fx-border-color: red; 
	-fx-padding: 10px; 
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}