.book-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.book-label {
    -fx-font-size: 18px;
}
.button-box{
	-fx-alignment: center;
}

.cancel-btn{
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-background-color: #ff756b;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.continue-btn{
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-background-color: #6bff77;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}