.book-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.book-label {
    -fx-font-size: 20px;
}

.reserve-btn{
	-fx-background-color: #E3C5FF;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-border-color: #000;
	-fx-font-family: "Calibri";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.borrowed{
	-fx-font-size: 18px
}