.cancel-btn{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-background-color: #ff756b;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.continue-btn{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-background-color: #6bff77;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}