.id-vbox {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.select-box{
	-fx-alignment: center;
}

.details-vbox{
	-fx-alignment: center;
}

.wear-details {
    -fx-font-size: 18px;
}
.submission-date {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.select-btn{
	-fx-background-color: #73b7ff;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-border-color: #000;
	-fx-font-family: "Calibri";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}